In [1]:
import pandas as pd
import plotly.express as px

In [4]:
df = pd.read_parquet("../scenario_outputs/2024_10_17_13_51_09_scenarios.parquet").reset_index(drop=True)
df

,granular_ds,granular_temperature,granular_nominal_temperature,granular_hdd,granular_nominal_hdd,granular_cdd,granular_nominal_cdd,gdp,nominal_gdp,scenario_yhat,scenario_num
0,2015-01-01,-0.002641,9.994652,-0.013125,803.921260,-0.00095,0.0,-0.048796,91.687000,388.669565,1
1,2015-01-02,-0.017001,6.967103,0.025706,1949.742425,-0.00095,0.0,-0.048796,91.687000,473.125268,1
2,2015-01-03,-0.028726,4.495221,0.057329,2882.854784,-0.00095,0.0,-0.048796,91.687000,495.589845,1
3,2015-01-04,-0.040889,1.930792,0.090667,3866.575854,-0.00095,0.0,-0.048796,91.687000,468.827635,1
4,2015-01-05,-0.017712,6.817229,0.027077,1990.184090,-0.00095,0.0,-0.048796,91.687000,601.507937,1
...,...,...,...,...,...,...,...,...,...,...,...
2373595,2031-03-27,0.001765,10.923510,0.082738,3632.624844,-0.00095,0.0,0.189369,117.258758,429.201975,400
2373596,2031-03-28,-0.019414,6.458472,0.019874,1777.648126,-0.00095,0.0,0.189369,117.258758,386.031117,400
2373597,2031-03-29,-0.026488,4.966899,0.009233,1463.642875,-0.00095,0.0,0.189369,117.258758,320.147985,400
2373598,2031-03-30,-0.049621,0.089799,-0.039368,29.537610,-0.00095,0.0,0.189369,117.258758,270.892979,400
2373599,2031-03-31,-0.013273,7.753096,0.055362,2824.813684,-0.00095,0.0,0.189369,117.258758,403.188690,400